<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ATP Match Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Tennis Match Predictor</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="p1_name" placeholder="Player 1" required="required" />

      <br>

      <select required="required" name="P1 Entry">
        <option selected disabled>Select Player 1 Entry</option>
        <option value="R">Regular Entry</option>
        <option value="Q">Qualifier</option>
        <option value="W">Wildcard</option>
      </select>

      <br>

      <input type="text" name="p2_name" placeholder="Player 2" required="required" />

      <br>

      <select name="P2 Entry">
        <option selected disabled>Select Player 2 Entry</option>
        <option value="R">Regular Entry</option>
        <option value="Q">Qualifier</option>
        <option value="W">Wildcard</option>
      </select>

      <br>
      
      <select name="Surface">
        <option selected disabled>Select a Surface</option>
        <option value="H">Hard</option>
        <option value="C">Clay</option>
        <option value="G">Grass</option>
      </select>

      <br>

      <select name="Level">
        <option selected disabled>Select a Tournament Level</option>
        <option value="500">250/500</option>
        <option value="1000">Masters</option>
        <option value="1500">Tour Finals</option>
        <option value="2000">Grand Slam</option>
      </select>

      <br>

      <select name="Round">
        <option selected disabled>Select a Round</option>
        <option value="Final">First Round/ RR</option>
        <option value="Semis">Second Round</option>
        <option value="Semis">Third Round</option>
        <option value="Semis">Round of 16</option>
        <option value="Quarters">Quarterfinal</option>
        <option value="Quarters">Semifinal</option>
        <option value="Quarters">Final</option>
      </select>

      <br>

      <select name="bestof">
        <option selected disabled>Match Format</option>
        <option value="Best of 3">Best of 3</option>
        <option value="Best of 5">Best of 5</option>
      </select>

      <br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
